@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body font-medium text-gray-dark;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold font-display mt-6 mb-4;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

strong {
  @apply font-bold;
}

.normal-emoji-weight {
  font-weight: normal !important;
}

ul {
  @apply list-disc pl-6;
}

ol {
  @apply list-decimal;
}