---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Projects from '../components/Projects.astro'
import WorkExperience from '../components/WorkExperience.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Stanley Ang">
  <main class="flex flex-col gap-8">
    <Header />
    <Projects />
    <WorkExperience />
  </main>
  <Footer />
</Layout>

<style></style>
