---
import { getImage } from 'astro:assets'
import tileBg from '../assets/tile_bg.png'
import Wave from '../components/Wave.astro'
import { Icon } from 'astro-icon/components'
import Socials from '../components/Socials.astro'

const optimizedBackground = await getImage({
  src: tileBg,
  format: 'webp',
  quality: 'max',
})
---

<div>
  <div
    class="w-full h-32 relative mb-16"
    style={`background-image: url(${optimizedBackground.src});`}
  >
    <Wave class="absolute bottom-0 z-10" />

    <div
      class="absolute -mb-10 bottom-0 z-20 w-full flex items-center justify-center"
    >
      <img
        src="https://s3.stanley.id/1706633774571.jpeg"
        alt="Image"
        class="w-28 h-28 rounded-full border-4 border-white"
      />
    </div>
  </div>

  <div class="flex items-center flex-col gap-2 p-2 sm:p-0">
    <h1 class="font-medium text-3xl">Stanley Ang</h1>
    <p class="opacity-60 text-center">
      Experienced Software Engineer and Product Designer with 4+ years of
      building impactful apps using TypeScript and Node.js. Passionate about
      tech since age 8.
    </p>

    <ul class="flex gap-3 flex-wrap justify-center">
      <li class="flex items-center gap-1 opacity-60">
        <Icon name="ph:map-pin" /> Jakarta, Indonesia
      </li>
      <li class="flex items-center gap-1 opacity-60">
        <Icon name="ph:envelope-open" /> me@stanley.id
      </li>
    </ul>

    <Socials class="mt-4" />
  </div>
</div>
