---
import communityScreenshot from '../assets/community_screenshot.jpg'
import rokaruImage from '../assets/rokaru_image.jpg'
import ProjectCard from './ProjectCard.astro'
import SectionTitle from './SectionTitle.astro'
---

<div class="flex flex-col gap-4">
  <SectionTitle title="Project Showcase" />

  <ul class="flex flex-col gap-4 p-2 sm:p-0">
    <ProjectCard
      image={communityScreenshot}
      title="Community"
      body="Lead frontend engineer of an all-in-one community-focused event management platform which handled over IDR 500M in transactions."
      href="https://community.furries.id"
      techStacks={[
        'nuxt-icon',
        'tailwindcss-icon',
        'nodejs-icon',
        'postgresql',
        'redis',
      ]}
    />

    <ProjectCard
      image={rokaruImage}
      title="Rokaru"
      body="Product designer and developer of Rokaru, a mobile app aims to assist SMEs market their products and services. (BINUS SoCS Hackathon 1st Winner)"
      href="https://www.youtube.com/watch?v=qXvih-D7XDo"
      techStacks={['flutter', 'nodejs-icon', 'firebase', 'tensorflow']}
    />
  </ul>
</div>
