---
import SectionTitle from './SectionTitle.astro'
---

<SectionTitle title="Recent Experiences" />

<ul class="flex flex-col gap-4 px-2 sm:px-0">
  <li class="flex flex-col gap-1">
    <p class="text-sm opacity-60">2022-2024</p>
    <h3>Lead Software Engineer, Mazecare</h3>
    <p class="opacity-60">
      Enhanced healthcare product suite using Vue, Nuxt, TypeScript, GraphQL,
      and TailwindCSS, boosting performance by 30% and delivered solutions to
      healthcare providers in Singapore.
    </p>
  </li>
  <li class="flex flex-col gap-1">
    <p class="text-sm opacity-60">2021-2022</p>
    <h3>Software Engineering Intern, Bank BCA</h3>
    <p class="opacity-60">
      Utilized Springboot, Docker, Kafka, and React to develop and optimize Bank
      BCA's core WhatsApp Business API services, improving performance and
      reducing support requests by 70%.
    </p>
  </li>
</ul>
